@model IEnumerable<Week5Lab.Models.ProductAndProductInfo>
@{
	ViewData["Title"] = "Test";
}

<h2>Test</h2>
<table class="table">
	<thead>
		<tr>

			<th>ProductId</th>
			<th>ProductName</th>
			<th>ProductPrice</th>
			<th>ProductAmount</th>
			<th>DeliveryPeriod</th>
			<th>ProductMarketId</th>
			<th>InfoId</th>
			<th>Parameter</th>
			<th>Definition</th>
			<th>ProductId</th>
			<th>Buy</th>


		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
	{

		<tr>

			<td>
				@item.ProductId
			</td>
			<td>
				@item.ProductName
			</td>
			<td>
				@item.ProductPrice
			</td>
			<td>
				@item.ProductAmount
			</td>
			<td>
				@item.ProductDeliveryPeriod
			</td>
			<td>
				@item.ProductMarketId
			</td>
			<td>
				@item.ProductInfoId
			</td>
			<td>
				@item.ProductInfoParameter
			</td>
			<td>
				@item.ProductInfoDefinition
			</td>
			<td>
				@item.ProductInfoProductId
			</td>
			<td>
				<input type="button" value="Buy" onclick="location.href='@Url.Action("Buy", "Task5",new {ID = @ViewData["ID"],ProductID = @item.ProductId})'" />
			</td>
		</tr>
		
		
}
	</tbody>
</table>


